/* Reset margins and padding for body and html */
html, body {
  padding: 0;
  margin: 0;
  min-width: 770px;
}

:root {
  --platinum: #D1D5D7;
  --cool-gray: #8D99AE;
  --anti-flash-light: #EDF2F4;
  --rich-black: #001514;
  --white: #FBFFFE;
  --red: #d10000;
}

/* Navbar styles */
.navbar {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100%; /* Use 100% instead of 100vw */
  /* height: 60px; */
  background-color: rgb(255, 255, 255); /* Set the desired background color */
  justify-content: space-between; /* Space out content within the navbar */
  align-items: center; /* Vertically align items */
  box-sizing: border-box; /* Include padding and border in width/height calculations */
}

.navbar-item:hover {
  background-color: rgb(98, 98, 98);
}

.nav-bar-navigation-box {
  display: flex;
  /* background-color: aqua; */
}

.navbar-item {
  margin: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}